body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #333;
}

label {
    margin-top: 0.625em;
    font-size: 1.125em;
    color: #333;
}

input {
    padding: 0.5em;
    font-size: 1.125em;
    width: 80%;
    max-width: 18.75em;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 0.625em 1.25em;
    font-size: 1.125em;
    border: none;
    cursor: pointer;
    margin-top: 0.625em;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 1.25em;
    margin-top: 1.25em;
    color: #333;
}

.disclaimer {
    font-size: 0.75em;
    margin-top: 1.25em;
    color: #666;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.625em;
    margin-top: 1.25em;
}

.image-container img {
    width: 4.375em;
    height: auto;
    max-height: 6.25em;
}

@media screen and (max-width: 37.5em) {
    input {
        width: 100%;
        max-width: none;
    }
}
