body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

h1, h2 {
    color: #222;
    text-align: center;
    line-height: 1.6;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

label {
    margin-top: 10px;
    font-size: 18px;
    color: #222;
}

input {
    padding: 10px 15px;
    font-size: 16px;
    width: 80%;
    max-width: 300px;
    min-width: 50px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    display: block;
    margin: 10px auto;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 20px;
    margin-top: 20px;
    color: #222;
    text-align: center;
    line-height: 1.6;
}

#custoAzoresMadeira {
    font-weight: bold;
    color: #d35400;
    margin-top: 5px;
}

.disclaimer {
    font-size: 12px;
    margin-top: 20px;
    color: #666;
    text-align: center;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}

.image-container img {
    width: 70px;
    height: auto;
    max-height: 100px;
    object-fit: cover;
    border-radius: 6px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
    text-align: center;
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px; /* Adds space between links */
    margin-top: 10px;
}

.section-title {
    font-size: 24px;
    color: #222;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}
.social-media-section {
    text-align: center;
    margin-top: 20px;
}
.social-links img {
    width: 40px; /* Adjust as needed */
    height: auto;
}


/* Responsive adjustments for small screens */
@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    input {
        width: 100%;
        max-width: none;
        padding: 10px;
    }

    button {
        width: 100%;
        max-width: 200px;
    }

    p {
        font-size: 18px;
    }
}
